.main-container{
    flex-direction: row;
    margin-left: 7.7rem;
    margin-top: 20rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.header-container{
    padding-left: 7.7rem;
    padding-top: 4rem;
}

.box1-img{
    padding-top: 0;
    padding-right: 11.8rem;
    max-width: 65.7rem;
    max-height: 44.7rem;
}

.box1-img img{
    max-width: 53.9rem;
    max-height: 44.7rem;
}

.box2-p{
    padding-top: 0;
}

.first-title{
    font-size: 6.4rem;
    max-width: 58.6rem;
    max-height: 19rem;
}

.second-paragraph{
    font-size: 2.4rem;
    max-width: 39rem;
    max-height: 10.8rem;
    text-align: left;
    margin-bottom: 6.4rem;
}

.button{
    margin-bottom: 29.3rem;
}

.footer-container{
    padding-top: 0;
    width: 100%;
    min-height: 5rem;
}